.featured {
  height: 100vh;
}

.featuredVertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent);
}

.featuredHorizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 150px;
  padding-top: 70px;
}

.featuredName {
  font-size: 60px;
  font-weight: bold;
}

.featuredInfo {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.featuredSeasons {
  display: inline-block;
  margin-right: 15px;
}

.featuredDescription {
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
}

.featuredButtons {
  margin-top: 15px;
}

.featuredMoreInfo,
.featuredWatchbutton {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  opacity: 1;
  transition: all ease 0.2s;
}

.featuredMoreInfo:hover,
.featuredWatchbutton:hover {
  opacity: 0.7;
}

.featuredWatchbutton {
  background-color: #fff;
  color: #000;
}

.featuredMoreInfo {
  background-color: #333;
  color: #fff;
}

.featuredGenres {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}

@media (max-width:760px) {
  .featured {
    height: 90vh;
  }

  .featuredName {
    font-size: 40px;
  }

  .featuredInfo {
    font-size: 16px;
  }

  .featuredDescription {
    font-size: 14px;
    max-width: 100%;
    margin-right: 30px;
  }

  .featuredMoreInfo,
  .featuredWatchbutton {
    font-size: 10px;
  }

  .featuredGenres {
    font-size: 14px;
  }
}